html {
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
}

#header {
	text-align: center;
}

#nav {
	text-align: left;
	width: 100%;
}

#nav ul {
	padding: 0;
	margin:  0;	
}

#nav ul li {
	float: left;
	list-style: none;
}

#nav ul li a:link {
	padding: 10px;
	text-decoration: none;	
	display: block;
	background-color: #999;
}

#nav ul li a:hover {
	background-color: #000;
	color: white;
}

#nav ul ul {
	position: absolute;
	left: -999em;
}

#nav ul li:hover ul {
	left: auto;
}

#nav ul li ul li {
	float: none;
}

#nav ul li ul {
	margin: 0 10px;
}

/*Clear Floats*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    margin: 0;
}


#main-content {
	width: auto;
	float: left;
}

#sub-content {
	margin: 0 50px;
}

#sub-content ul li{
	list-style: none;
	display: block;
	padding: 0 0 20px 0;
}

#sub-content ul li a:link {
	text-decoration: none;	
	display: block;
	background-color: #999;
}

#footer {
	text-align: center;
	background-color: #999;
}

#rounded-box {
	float: auto;
}

.box {
	background-color: cyan;
	display: block;
	margin: 10px;
	padding: 0;
	height: 200px;
	width: 200px;
	float: left;
	vertical-align: bottom;
	text-align: center;
}

#all-rounded {
	border-radius: 10px;
}

#bottom-rounded{
	border-radius: 0 0 10px 10px;
}

#circle {
	border-radius: 100px;
}

#side-bar{
	border : black 2px;
	height: auto;
	width:auto;
	margin: 100px 0 0 0;
	float: none;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/

* html .clearfix {height: 1%;}

.clearfix {display: block;}

/* End hide from IE-mac */
